.container {
  width: 90%; /* Set width to 90% for better responsiveness */
  max-width: 640px; /* Set a maximum width */
  margin: auto;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px);
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 5%; /* Set padding to 5% for better responsiveness */
}

.container button {
  width: 100%; /* Make button width 100% for better responsiveness */
  max-width: 250px; /* Set a maximum width for the button */
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 100px; /* Adjust margin-top for smaller screens */
    padding: 40px 10px; /* Adjust padding for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin-top: 80px; /* Further adjust margin-top for even smaller screens */
    padding: 40px 5px; /* Further adjust padding for even smaller screens */
  }
}
