.container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  background-color: rgb(255, 255, 255,0.9); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px);
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}
.container .head {
  display: flex;
  justify-content: space-between;
}

.container h2 {
  font-size: 27px;
  font-weight: 500;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background-image: linear-gradient(
  90deg,
  hsl(0deg 11% 4%) 4%,
  hsl(3deg 17% 4%) 31%,
  hsl(7deg 20% 5%) 40%,
  hsl(10deg 23% 6%) 45%,
  hsl(13deg 25% 6%) 48%,
  hsl(16deg 27% 7%) 51%,
  hsl(19deg 29% 7%) 53%,
  hsl(22deg 30% 7%) 54%,
  hsl(24deg 32% 8%) 56%,
  hsl(27deg 33% 8%) 57%,
  hsl(30deg 34% 8%) 58%,
  hsl(32deg 34% 8%) 60%,
  hsl(34deg 35% 9%) 62%,
  hsl(37deg 35% 9%) 64%,
  hsl(40deg 35% 9%) 67%,
  hsl(43deg 34% 9%) 71%,
  hsl(47deg 34% 9%) 76%,
  hsl(51deg 32% 9%) 85%,
  hsl(56deg 31% 10%) 100%
);
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .index {
  margin: auto;
  font-size: 18px;
}

.container .correct {
  background: #dffff2;
  border-color: #00d397;
}
.container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}

.container .buttons {
  display: flex;
}
